.favorite {
  background-color: var(--main-color-white);
  color: var(--main-color-black);
  border-radius: 5px;
  min-width: 325px;
}
.favorite-hover {
  border-style: solid;
  border-color: #27ae60;
}
.flags-favorite {
  max-height: 35px;
  max-width: 60px;
  min-width: 60px;
  min-height: 35px;
}
.custom-size-favorite {
  min-height: 400px !important;
}
#list-favorite{
  overflow: auto;
  max-height: 350px !important;
}
#list-favorite {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color-gray);
}
#list-favorite::-webkit-scrollbar {
  width: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
#list-favorite::-webkit-scrollbar-track {
  border: var(--main-color-gray) solid 1px;
  background: var(--main-color-white);
}

#list-favorite::-webkit-scrollbar-thumb {
  background-color: darkgray;
  border-radius: 30px 30px 30px 30px;
}
@media (max-width: 778px) {
  .favorite {
    display: none;
  }
}
