.favorite {
    background-color: var(--main-color-white);
    color: var(--main-color-black);
    border-radius: 5px;
    min-width: 325px;
  }
  .favorite-hover {
    border-style: solid;
    border-color: #27ae60;
  }
  .flags-favorite {
    max-height: 35px;
    max-width: 60px;
    min-width: 60px;
    min-height: 35px;
  }
  .custom-size-favorite {
    min-height: fit-content;
  }
  @media (max-width: 778px) {
    .favorite {
      display: none;
    }
  }