:root {
  --height-body: calc(100vh - 48px - var(--nav-height));
}
.container-body {
  height: var(--height-body);
}
.items {
  height: calc(100% - var(--nav-height) - 50px);
}

.card-container {
  width: 1000px;
  min-width: 320px;
  min-height: 416px !important;
}
